[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesBinMix"]
	path = BayesBinMix
	url = https://github.com/cran/BayesBinMix
[submodule "beast"]
	path = beast
	url = https://github.com/cran/beast
[submodule "fabMix"]
	path = fabMix
	url = https://github.com/cran/fabMix
[submodule "factor.switching"]
	path = factor.switching
	url = https://github.com/cran/factor.switching
[submodule "label.switching"]
	path = label.switching
	url = https://github.com/cran/label.switching
[submodule "multinomialLogitMix"]
	path = multinomialLogitMix
	url = https://github.com/cran/multinomialLogitMix
[submodule "poisson.glm.mix"]
	path = poisson.glm.mix
	url = https://github.com/cran/poisson.glm.mix
